.config/dconf/
.config/discord/
.config/google-chrome/
.config/pulse/
.config/yay/
.config/fastfetch/ottoman.mp4
.local/share/nvim/mason/packages/clangd/clangd_19.1.2/bin/clangd
.cache/
.cargo/
.gnupg/
.npm/
.w3m/
.pki/
.ssh/
archiso/
node_modules/
.Xauthority
.nvidia-settings-rc
.vim-bookmarks
.bash_history
.histfile
package.json
package-lock.json